<div layout:decorator="layout" layout:fragment="content">
    <div class="container" ng-app="app">
        <h2>Sign Up</h2>
        <form role="form">
            <div class="form-group" ng-controller="signUpController">
                <label for="email">Email address</label>
                <input id="email" class="form-control" placeholder="Enter email" type="text" ng-model="email" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>